<div class="tabs tabs-box tabs-lg text-primary w-fit">
    @for (tab of tabs; track $index) {
    <button role="tab" class="tab" [class.tab-active]="likedParams.predicate === tab.value" (click)="setPredicate(tab.value)">
        {{ tab.label }}
    </button>
    }
</div>

@if(paginatedMembers(); as paginatedResult) {
    @if(paginatedResult.metadata; as metadata) {
        <app-paginator
        [pageNumber]="metadata.currentPage"
        [pageSize]="metadata.pageSize"
        [totalCount]="metadata.totalCount"
        [totalPages]="metadata.totalPages"
        (pageChange)="onPageChange($event)"
        ></app-paginator>
    }

    @if (paginatedResult.items; as members) {
      @if (members.length > 0) {
        <div class="grid grid-cols-5 gap-6">
            @for(member of members; track member.id) {
              <div>
                  <app-member-card [member]="member"></app-member-card>
              </div>
            }
        </div>
      } @else {
        <p class="text-center text-gray-500">No members found.</p>
      }
    }
}
